---
layout: default
title: prowayne | Blog
---
<div>
    <h2>Blog Posts</h2>
    <ul id="archive">
        {% for post in paginator.posts %}
        <li class="archive post-{{ post.category }}">
            <h2>{{ post.date | date_to_string }} : <a href="{{ post.url }}">{{ post.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <ul class="pager">
        {% if paginator.previous_page %} 
            {% if paginator.previous_page == 1 %}
            <li class="previous">
                <a href="{{ site.url }}/">首页</a>
            </li>
            {% else %}
            <li class="previous">
                <a href="{{ site.url }}/page{{ paginator.previous_page }}">上一页</a>
            </li>
            {% endif %} 
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ site.url }}/page{{ paginator.next_page }}">下一页</a>
        </li>
        {% endif %}
    </ul>
</div>
